<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="parik_PM_AkEntities" connectionString="metadata=res://*/DB.ModelParik.csdl|res://*/DB.ModelParik.ssdl|res://*/DB.ModelParik.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-SER-LARISA\SERV1215;initial catalog=parik_PM_Ak;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>